/*for admin company/headlist*/
.core_break {
	width: 50em;
	word-wrap: break-word;
}
.delbtn{
	background-color: #0B0B61;
}
.brobtn{
	background-color: #2ECCFA;
}
.deactbtn{
	background-color:#848484;
}

.searchbtn{
	background-color: #298A08;
	padding-right: 20px;
	padding-top: 2px;
	margin-left: 7px;
	height: 35px;
}
.search_box{
	height: 30px
	margin-left: 13px;

}
.search_reg{
	float: right;
	margin-left: 30px;
}
.even{
	background-color: #eae5e4;
}
/*for setflash*/
.stflash{
	background-color: #04B45F;/*//#01DF74;#088A4B*/
	height:40px;
	color:white;
	font-size: 18px;
	padding-top:10px;
	margin-bottom: 10px;
	border-radius: 2px ;
	width:100%;
	text-align: center;
}
.tblayout{
	/*table-layout: fixed;*/

}
.table_st {
	margin-left: 170px;
}
.table_st .left{
	padding:10px;
	/*background-color: red;*/
}
.table_st .right {
	/*background-color: yellow;*/
	padding: 10px;
}
.headhunday{
	width: 90px;
}
.headhun_month{
	margin-left: -6%
}
/*sorting arrow*/
th a.asc:after {
	/*content: ' ⇣';*/
	content:url(/img/sort_asc.png);
	vertical-align: -webkit-baseline-middle;
}

th a.desc:after {
	/*content: ' ⇡';*/
	content:url(/img/sort_desc.png);
	vertical-align: -webkit-baseline-middle;
}

th a:after{
	content:url(/img/sort_both.png);
	vertical-align: -webkit-baseline-middle;
}
/*for btn in list*/

.reg_btn{
	width: 86px;
	height: 28px;
	background-color: #FA8633;
	border:0.1px solid #FA8633;
	border-radius: 5px ;
	border-color: none;
}
.browse_btn{
	width: 86px;
	height: 28px;
	background-color: #81BEF7;
	border:0.1px solid #81BEF7;
	border-radius: 5px ;
	border-color: none;
}
.deacti_btn{
	width: 86px;
	height: 28px;
	background-color: #A4A4A4;
	border:0.1px solid #A4A4A4;
	border-radius: 5px ;
	border-color: none;
}
.de_letter_btn{
	margin-left:5px;
	color:#ffffff;
	font-size: 16px;
}
.letter_btn{
	margin-left: 11px;
	color:#ffffff;
	font-size: 16px;
}
.bro_letter_btn{
	margin-left: 14px;
	color:#ffffff;
	font-size: 16px;
}
.delete_btn{
	width: 86px;
	height: 28px;
	background-color: #81BEF7;
	border:0.1px solid #81BEF7;
	border-radius: 5px ;
	border-color: none;
}
.delete_letter_btn{
	margin-left: 15px;
	color:#ffffff;
	font-size: 16px;
}

.acti_letter_btn{
	margin-left: 13px;
	color:#000;
	font-size: 16px;
}
.acti_btn{
	width: 86px;
	height: 28px;
	background-color: #fff;
	border:3px solid #A4A4A4;
	border-radius: 5px ;
	border-color: none;
}
.delete_btn{
	width: 87px;
	height: 28px;
	background-color: #0B0B61;
	border:3px solid #0B0B61;
	border-radius: 5px ;
	border-color: none;
}


.dataTables_paginate a {
	padding: 6px 9px !important;
	/*background: #ddd !important;*/
	/*border-color: #ddd !important;*/
}
.dataTables_paginate {
	float: right;
	text-align: right;
}
.paging_full_numbers {
	/* width: 400px;*/
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers a.paginate_button {
	/*  background-color: #ddd;*/
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}
.paging_full_numbers {
	width: 565px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span:active {
	outline: none
}

.paging_full_numbers span:hover {
	text-decoration: none;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active, span.next, span.prev, span.first, span.last {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 4px 4px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button, span.next, span.prev {
	background-color: #ddd;

}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}


.paging_full_numbers span.paginate_active {
	/*background-color: rgba(38, 185, 154, 0.59) !important;*/
	background-color: rgba(0, 126, 228, 0.76) !important;
}
/*.paging_full_numbers span.paginate_active {
	background-color: rgba(52, 73, 94, 0.88);
}*/

.paging_full_numbers span.paginate_active a {
	color: #fff;
}
.paging_full_numbers a.paginate_active {
	background-color: rgba(38, 185, 154, 0.59) !important;
	border-color: rgba(38, 185, 154, 0.59) !important;
}
p.test {
	width: 48em;
	word-wrap: break-word;
}
.no-decoration{
	color:red;
}
.reply {
	margin-left: 18px;
}
.det {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 422px;
	padding-top: 30px;
	padding-left: 20px;
}
 #img{
/*  background-image: url('img/logo.png');
	width: 65px;height:42px;
	background-color: red;*/
}
.sbox{
	margin-right: -12px;
}
.hsbox{
	margin-right: -13px;
}
.register {
	margin-left: 18px;
}
.headhunday{
	width: 90px;
}
.headhun_month{
	margin-left: -6%;
}
.mail_transmit{
	width: 50%;
	height: 33px;
}
/*#previewHolder {
	width: 85%;
	min-height: 150px;
	height: 85%;
	border: 3px solid #ccc;
	background-color: #fff;
	padding: 3px;
	left: 0px;
	height: 100%;
	background-position: 50% 50%;
	text-align: center;
	width: 32%;
}*/
/*.resize-img {
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}*/
.browse-img {
	/*height: 62%;*/
	border: 3px solid #ccc;
	background-color: #fff;
	padding: 3px;
	left: 0px;
	background-position: 50% 50%;
	text-align: center;
	width: 21%;
}
/*nth times text design*/
.nth-font{
	padding-top: 21px;
	padding-bottom: 10px;
	font-size: initial;
	font-family: fantasy;
}
/*Sub nth times text design*/
.sub-nth-font{
	margin-left: 14px;
}
.sub-td{
	padding-left: 20px;
	width: 27%;
}

/*link decoration */
.large{
	color: blue !important;
	text-decoration: underline !important;
}

/* Pick Up design */
.select_height {
	height: 36px;
	margin-left: -9px;
	margin-bottom: -19px;
}

/* datatable design */
#datatable .even{
	background-color: #ffffff;
}
